.app-footer {
  padding: 15px 30px;
  background-color: #0D1B2A;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center; /* ALTERADO: Centraliza o conteúdo horizontalmente */
  align-items: center;
  gap: 20px; /* ADICIONADO: Adiciona um espaço entre os itens */
  max-width: 1600px;
  margin: 0 auto;
}